<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Trajetória Elga Luiza</title>
        <!-- CSS Bootstrap -->
        <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous"
        />
        <!-- CSS do projeto -->
        <link rel="stylesheet" href="../src/css/estiloTrajetoria.css"/>
    </head>
    <body>
        <div class="container-fluid"> 
            <header>
                <img src="../src/img/P_20220701_093047_BF.jpg" class="img-responsive rounded-circle w-25" alt="Foto">
                minha trajetória
            </header>
        
            <p class="texto1">
                Eu tenho a tendência de achar que o que fiz não foi nada, 
                não deu trabalho, não foi muito esforço.
                Mas a verdade é que para sair de qualquer ponto é necessário desejar, 
                sonhar, planejar, estabelecer metas, focar e ir construindo.
                Então, tendo essas características em minha personalidade, 
                busquei crescimento e evolução em vários aspectos da vida.                    
            </p>

            <p class="texto1">
                <img src="../src/img/formatura2.png" class="img-responsive w-100" alt="Foto Formatura">
            </p>

        
            <p class="texto1">
                O que fiz?
                Estudei muito. Escolhi trilhas que acreditei serem o futuro. Por isso cursei 
                o Técnico em Telecomunicações e depois Tecnologia em Processamento de Dados.
                Por que escolhi o curso técnico?
                Porque sou de família com recursos mínimos, apenas para a sobrevivência, 
                que não poderiam me ajudar com os custos da escola. <br>
                Foi uma boa escolha, que me direcionou para o ambiente do futuro nas empresas. 
                Daí foi um passo para eu me interessar por TI e então fui logo dando mais passo na vida acadêmica. <br>
                    
                Pelo pensamento lógico, por meus objetivos de crescimento profissional, por ter as condições necessárias cursei Tecnologia em Processamento de Dados.
                Ao longo da carreira, em uma grande empresa, fiz inúmeros treinamentos em TI.
            </p>

            <p class="texto1">
                <img src="../src/img/eu e meus filhos.png" class="img-responsive w-100" alt="Foto Formatura">
            </p>

            <p class="texto1">
                Dentre eles: ...
                Acredito que foi porque sempre fui interessada em tecnologia mesmo.
                Enquanto trabalhei nessa grande empresa, por 20 anos, construí também uma família com meus dois filhos: uma moça e um rapaz, Ana Flávia e Arthur.
                Uma característica marcante da minha vida é: não consigo parar. Quero estar realizando algo.
                Quero estar criando algo.
            </p>

            <p class="texto1">
                
                Depois que saí dessa empresa, aprendi a costurar, fazer tricô, fiz um curso de corretagem, fui chocolatier, fiz cestas de café da manhã e, recentemente, voltei a me interessar por TI.
                Então resolvi me atualizar e fazer algo que eu sempre quis mas ainda não tinha encontrado o caminho: desenvolvimento em web.
                Assim cheguei aqui nesse portifólio e o estou construindo com novos conhecimentos que estou alcançando.
            </p>   

            <p class="texto1">
                <img src="../src/img/chocolateELR.png" class="img-responsive w-100" alt="Foto Formatura">
            </p>
                
            
            <p class="texto1">
                Humm... e não vou parar.
                Para o futuro tenho metas nessa área. 
                Meu interesse é CyberSecurity, Cloud Computing, Devops.
                Continuo construindo minha trilha. Não é fácil. Exige esforço, dedicação, superação, resiliência, meta, inteligência.
                Mas o resultado, acredito, está sendo muito bom. 
                A vida é feita de escolhas!        
            </p>

            <p class="texto1">
                <img src="../src/img/painel_ELR3.png" class="img-responsive w-100" alt="Fase">
            </p>
                        
            <div class="rodape">
                <a href="../index.html" class="btn btn-outline-info"> Home </a>
                <a href="./curriculoSecao2.html" class="btn btn-outline-info"> Currículo </a>
                <a href="./projetos.html" class="btn btn-outline-info"> Desafios e Projetos </a>
                
                <audio id="demo" preload="metadata" autoplay controls loop>
                    <source src="../src/music/White Stones - Steps.mp3" type="audio/mpeg">               
                    <p>Infelizmente seu navegador não consegue reproduzir áudio. <a href="midia/guanacast-33.mp3">Clique aqui para baixar o arquivo MP3</a></p>
                </audio>
            </div>            
        </div>
    </body>
</html>